<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Grant University</title>
    </h:head>
    <style>
        table, tr {
            border: 1px solid white;
        }
    </style>
    <h:body>
        <table border="0" bgcolor="#808080" align="top" width="100%" style="position: relative; height: 100px">
            <tr>
                <td bgcolor="#000080" align="center">
                    <p style="font-size: 38pt; color: #ffffff; font-family: Arial Rounded MT Bold">UNIVERSITAS MUHAMMADIYAH YOGYAKARTA</p>
                </td>
                <td bgcolor="666699" align="left" width="180">
                    <img alt="" src="images/Umy-logo.gif" width="180" height="160" align="right"/>
                </td>
            </tr>
        </table>
        <table bgcolor="white" border="1" align="top" width="100%" style="height: 470px">
            <tr>
               
                <!-- Page specific content starts here -->
                <td width="85%" valign="top" bgcolor="white">
                    <p style="color: darkblue; font-size: 20pt" align="center">
                        Registration Form
                    </p><br/>
                   <center>
       <table border="0"  bgcolor="white" align="center" style="height: 100px">
 <h:form>
      <tr>
                            <td>E-mail Id</td>
                            <td><h:inputText id="email" value="#{registrasiForm.emailID}" required="true" requiredMessage="You must enter the e-mail Id" validator="#{registrasiForm.validateEmail}" validatorMessage="Invalid e-mail Id" style="width: 400px"/>
                               <h:message for="email" style="color:red"/>
                            </td>
</tr>
                         <tr>
                     
                   <td>Role User </td>
                     <td >
                        <h:selectOneMenu id="cname"   required="true" requiredMessage="You must enter the role user" style="width: 403px">
                          <f:selectItem itemValue="" itemLabel="" />
                          <f:selectItem itemValue="Operator Fakultas" itemLabel="Operator Fakultas" />
                          <f:selectItem itemValue="Admin Keuangan" itemLabel="Admin Keuangan" />
                          <f:selectItem itemValue="Operator Prodi" itemLabel="Operator Prodi" />
                          <f:selectItem itemValue="Admin Universitas" itemLabel="Admin Universitas" />
                          <f:selectItem itemValue="User Dosen" itemLabel="User Dosen" />
                          <f:selectItem itemValue="Teller Keuangan" itemLabel="Teller Keuangan" />
                        </h:selectOneMenu>
                     </td>
                   </tr>
                        <tr>
                            <td>Password:</td>
                            <td><h:inputSecret id="pass" size="12" value="#{registrasiForm.password}" required="true" requiredMessage="You must enter the password" validatorMessage="Password must be minimum 5 characters long" validator="#{registrasiForm.validateFinalPassword}" style="width: 400px">
                                <f:validateLength minimum="5"/>
                                </h:inputSecret>
                                <h:message for="pass" style="color:red"/>
                            </td>
</tr>
                        <tr>
                            <td>Confirm password</td>
                            <td><h:inputSecret id="cpass" size="12" value="#{registrasiForm.confirmPassword}" required="true" requiredMessage="You must confirm the password" validator="#{registrasiForm.validateCPassword}" style="width: 400px"/>
                                <h:message for="cpass" style="color:red"/>
                            </td>
</tr>                   <tr>
                            <td align="right"><br/>
                                <h:commandButton styleClass="button" value="Submit" action="Success"/>
                            </td>
                            <td align="left"><br/>
                                <h:commandButton styleClass="button" value="Reset"  immediate="true" action="Registration"/>
                            </td>
</tr>
</h:form>
                    </table>
            </center>
                </td>
                <!-- Page specific content ends here -->
            </tr>
            
        </table>
    </h:body>
</html>

