<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html">
    <h:head>
        <title>Facelet Title</title>
        <link href="./resources/ExternStyleSheet.css" rel="stylesheet" type="text/css" />
    </h:head>
    <h:body>
        <table border="0" bgcolor="#808080" align="top" width="100%" style="height:100px">
            <tr>
                <td bgcolor="#000080" align="center">
<font style="font-family: 'Arial Rounded MT Bold', Gadget, sans-serif;" size="+4" color="#FFE4B5">UNIVERSITAS MUHAMMADIYAH YOGYAKARTA</font>
                </td>
                <td bgcolor="666699" align="left" width="180">     <img alt=""  src="Images/education.jpg" width="180" height="120" align="right"/>
                 </td>
            </tr>
        </table>
        <h2>Welcome &nbsp;
            <h:outputText id="o1" value="#{registrasiForm.emailID}"/>&nbsp;</h2>
       
        <h2>
            You have successfully registered with our website.<br/>
           
        </h2>
        <table><tr><td align="center"><h:form><h:commandButton styleClass="button" value="Registrasi" action="Registrasi"/></h:form></td></tr></table>
    </h:body>
</html>

